.container {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

}
.count {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;


}

.count button {
  padding: 1rem;
  border: none;
  background-color: #4d84e2;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.count button:hover {
  filter: brightness(.9);
}