.container {
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  transition: all .5s;
}

.container h1 {
  color: var(--primary);
  transition: all .5s;
}

.container button {
  height: 40px;
}


