:root {
  font-size: 62.5%;
  --bg-header: #1b1b1b;
  --bg-site: #ffffff;
  --bg-nav: #ffffff;
  --font: rgb(180, 180, 180);
  --font-secondary: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@keyframes navLinkAnimation {
  from {
    opacity: 0;
    transform: translateY(-50px);
  } 
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg-site);
}

.container {
  margin-top: 5rem;
  color: var(--white);
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
    HEADER
*/

.header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--bg-header);
}

.header .logo-menu {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header .logo-menu .logo a  {
  text-decoration: none;
  font-size: 2.4rem;
  color: #fff;
  transition: filter 0.2s ease-in-out;
}

.header .logo-menu .logo a:hover {
  filter: brightness(.8);
}

/* 

    NAVBAR

*/

.header .nav.off {
  display: block;
  top: -100vh;
}

.header .nav {
  background-color: var(--bg-nav);
  position: absolute;
  display: block;
  transition: all 350ms cubic-bezier(0.93, 0.1, 0.43, 0.88);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.header .nav ul {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.header .nav ul li a{
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--font);
  transition: filter 0.2s ease-in-out;
}

.header .nav ul li a:hover{
  filter: brightness(.8);
}

/* 

    Btn menu

*/

.header .logo-menu .btn-menu {
  z-index: 888;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  padding: 1rem;
  min-height: 30px;
  mix-blend-mode: difference;
}

.header .logo-menu .btn-menu span{
  background-color: #fff;
  width: 20px;
  height: 3px;
}

.header .logo-menu .btn-menu:hover {
  gap: 0rem;
}